html {
    min-height: 100%;
}

p {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Average Sans', sans-serif;
    color: #5F6B61;
}

div.searchWrapper {
    width: 270px;
    height: 45px;
    margin: 50px auto;

}

div.articlesWrapper {
    width: 84%;
    height: auto;
    margin: 0 auto;
}

.article {
    border-top: 1px solid rgba(95, 107, 97, 0.2);
    padding: 16px 0;
    opacity: 0.65;
    -webkit-transition: opacity .5s; /* For Safari 3.1 to 6.0 */
    transition: opacity .5s;
}

.article:first-child {
    opacity: 1;
}

.article img {
    width: 160px;
    float: left;
    border-radius: 3px;
    margin-right: 16px;
}

.article:hover {
    opacity: 1;
}

div.emptyImg {
    width: 160px;
    height: 160px;
    float: left;
    border-radius: 3px;
    margin-right: 16px;
    color: rgba(95, 107, 97, 0.2);
}

h2 {
    margin-top: 0;
}

hr {
    color: #5E9DC8;
}

div.clearfix {
    clear: left;
}

input, button {
    display: inline-block;
    border-radius: 2px;
    float: left;
    margin-top: 4px;
    border: none;
}

input {
    padding: 0 8px;
    border: 1px solid #DCF0F7;
    height: 34px;
}

input[type='text'] {
    color: #5F6B61;
}

input[type='text']:focus {
    outline: none;
}

button {
    background: #5E9DC8;
    color: #fff;
    width: 36px;
    height: 36px;
    margin-left: 4px;
}

button:last-child {
    background-color: #5F6B61;
}

a {
    color: #333333;
}

.loadingState {
    width: 270px;
    height: 18px;
    margin: 0 auto;
    display: none;
}